{% extends 'base.html.twig' %}

{% block title %}Task Manager
{% endblock %}

{% block body %}
{% include "partials/headTaskFile.html.twig" with {'titlePage': 'Tasks List', 'createTask' : true} %}

	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Task's Name</th>
				<th scope="col">Author</th>
				<th scope="col" class="d-none d-sm-block">Description</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
				{% include 'partials/viewTask.html.twig' %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
