{% extends 'base.html.twig' %}

{% block title %}Task Manager
{% endblock %}

{% block body %}
{% include "partials/headTaskFile.html.twig" with {'titlePage': 'View Task\'s Files', 'taskReturn' : '/task'} %}
	{% set actionViewFile = true %}
	<div class="container">

		{% for task in tasks %}
			{% for fileName, content in task %}
				{% include 'partials/displayFileContent.html.twig' %}
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
