{% extends 'base.html.twig' %}

{% block title %}Task Manager
{% endblock %}

{% block body %}
	<div class="container">
		{% include "partials/headTaskFile.html.twig" with {'titlePage': 'View Task\'s File', 'taskReturn' : '/task'} %}
		{% for fileName, content in task %}
			{% include 'partials/displayFileContent.html.twig' %}
		{% endfor %}
	</div>
{% endblock %}
